@(loginForm: Form[User])

<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" media="screen">

        <!--external css-->
        <link href="@routes.Assets.at("font-awesome/css/font-awesome.css")" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("javascripts/gritter/css/jquery.gritter.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("lineicons/style.css")"/>

        <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("stylesheets/style.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/style-responsive.css")" rel="stylesheet">
    </head>
    <body>
        <section id="main-content">
            <section class="wrapper">
                <div class="container-fluid">
                    @if(flash.containsKey("success")){
                    <div class="alert alert-success" role="alert">
                        @flash.get("success")
                    </div>
                    }

                    @if(flash.containsKey("error")){
                    <div class="alert alert-danger" role="alert">
                        @flash.get("error")
                    </div>
                    }
                </div>
            </section>
        </section>
        <div id="login-page">
            <div class="container">
                <form class="form-login" method="POST" action="@routes.Users.authenticate()">
                    <h2 class="form-login-heading">sign in</h2>
                    <div class="login-wrap">
                        <input name="email" type="email" class="form-control" placeholder="Email/Username" autofocus>
                        <br>
                        <input name="password" type="password" class="form-control" placeholder="Password">
                        <button class="btn btn-theme btn-block" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
                        <hr>

                        <div class="registration">
                            Don't have an account yet?<br/>
                            <a class="" href="@routes.Users.register()">
                                Create an account
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>

