@(customer:Customer)
@main("Customer"){
    <h1>@customer.name</h1>
    <a href="@routes.Customer_Transactions.newTransaction(customer.id)"><button type="submit" class="btn btn-default">Add Transaction></button> </a>
    <script>
        $(document).ready(function(){
            $('#example').dataTable();
        });
    </script>

    <table id="example" class="table table-striped table-border">
        <thead>
            <tr>
                <th>ID</th>
                <th>Product ID</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        @for(transaction <- customer.transactions){
            <tr>
                <td>@transaction.internalId</td>
                <td>@transaction.product.id</td>
                <td>@transaction.quantity</td>
                <td>@transaction.isPaid</td>
                <td>@transaction.sellDate</td>
                <td>
                    <a href="@routes.Customers.details(customer.id)"><span class="glyphicon glyphicon-pencil"></span> </a>
                    <a onclick="del('@routes.Customers.delete(customer.id)')"><span class="glyphicon glyphicon-remove"></span> </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}