@(transactions: List[Customer_Transaction])

@main("Transactions catalogue") {

<h2>All Customer's Transactions</h2>
<script>
function del(urlToDelete){
$.ajax({
url: urlToDelete,
type:'DELETE',
success: function(results){
location.reload();
}
});
}
</script>
<script>
$(document).ready(function() {
    $('#example5').dataTable();
} );
</script>
<table id="example5" class="table table-striped table-bordered" cellspacing="0" width="100%"> <thead>
<tr>
    <th>ID</th>
    <th>Customer ID & Name</th>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Date</th>
    <th>Total</th>
    <th>Status</th>
    <th></th>
</tr>
</thead>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>Customer ID & Name</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Date</th>
        <th>Total</th>
        <th>Status</th>
        <th></th>

    </tr>
    </tfoot>
    <tbody>
    @for(transaction <- transactions) {
    <tr>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">
            @transaction.internalId
        </a></td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">@transaction.customer.id - @transaction.customer.name</td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">@transaction.product.name</td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">@transaction.quantity</td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">@transaction.price</td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">@transaction.sellDate.format("dd-MM-yyyy")</td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">@(transaction.quantity*transaction.price)</td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">@if(transaction.isPaid){Paid}else{Unpaid}</td>
        <td><a href="@routes.Customer_Transactions.details(transaction.internalId)">
            <span class="glyphicon glyphicon-pencil"></span></a>
            <a onclick="del('@routes.Customer_Transactions.delete(transaction.internalId)')">
                <span class="glyphicon glyphicon-remove"></span></a></td>

    </tr>
    }

    </tbody>
</table>
}