@(supplier: Supplier)
@main("Supplier"){

<h1> @supplier.name </h1>
<script>
$(document).ready(function() {
    $('#example').dataTable();
} );
</script>
<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%"> <thead>
   <tr>
	<th>ID</th>
	<th>Product ID</th>
	<th>Quantity</th>
	<th>Status</th>
	<th>Date</th>
	<th></th>
	
  </tr>
</thead>
<tfoot>
            <tr>
                <th>ID</th>
				<th>Product ID</th>
				<th>Quantity</th>
				<th>Status</th>
                <th>Date</th>
				<th></th>
				
            </tr>
        </tfoot>
<tbody>
@for(transaction <- supplier.transactions){
	 <tr>
	        <td>@transaction.internalId</td>
			<td>@transaction.product.id</td>
			<td>@transaction.quantity</td>
			<td>@transaction.isPaid</td>
			<td>@transaction.buyDate</td>
			<td>
			<a href="@routes.Suppliers.details(supplier.name)"><span class="glyphicon glyphicon-pencil"></span></a>
			<a onclick="del('@routes.Suppliers.delete(supplier.name)')"><span class="glyphicon glyphicon-remove"></span></a>
			</td>
	      </tr>
	      }
		  
</tbody>
</table>
<a href="@routes.Supplier_Transactions.newTransaction(supplier.name)"><button type="submit" class="btn btn-default">Add Transaction</button></a>

}