@(paid: Double, unpaid: Double, supplier_transactions: List[User_Action])
@main("User Dashboard") {
<h3>Statistics</h3>
<hr/>
<div class="row">
        <div class="row mt">
        <!-- SERVER STATUS PANELS -->
        	<div class="col-md-4 col-sm-4 mb">
        			
				<div class="row">
					<div class="col-sm-6 col-xs-6 goleft">
	    			<div class="white-header">
		  			<h5>SUPPLIER DEBT</h5>
	    			</div>
						<p><i class="fa fa-database"></i> @unpaid%</p>
					</div>
            		</div>
				<canvas id="serverstatus01" height="120" width="120"></canvas>
				<script>
					var doughnutData = [
							{
								value: @paid,
								color:"#68dff0"
							},
							{
								value : @unpaid,
								color : "#fdfdfd"
							}
						];
						var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
				</script>
    			
        	</div><!-- /col-md-4-->
        	<div class="col-md-4 col-sm-4 mb">
        			
				<div class="row">
					<div class="col-sm-6 col-xs-6 goleft">
	    			<div class="white-header">
		  			<h5>CUSTOMER DEBT</h5>
	    			</div>
						<p><i class="fa fa-database"></i> @unpaid%</p>
					</div>
            		</div>
				<canvas id="serverstatus02" height="120" width="120"></canvas>
				<script>
					var doughnutData = [
							{
								value: @paid,
								color:"#68dff0"
							},
							{
								value : @unpaid,
								color : "#fdfdfd"
							}
						];
						var myDoughnut = new Chart(document.getElementById("serverstatus02").getContext("2d")).Doughnut(doughnutData);
				</script>
    			
        	</div><!-- /col-md-4-->
      </div><!-- /row -->
      
  	<h3>Transactions</h3>
	<hr></hr>	
     @for(transaction<-supplier_transactions){   
	 @transaction.verb match {              
	  case "Insert" => {<p class="alert alert-success" role="alert">&bull;
      [@transaction.verb] @transaction.description on <muted>@transaction.createDate</muted>
	  </p>}
  	  case "Delete" => {
	  <p class="alert alert-danger" role="alert">&bull;
      [@transaction.verb] @transaction.description on <muted>@transaction.createDate</muted>
	  </p>}
	  }
	}
           </div>   
		}